
.navbar{
    margin: 0 auto;
    background-image:$degrade;
    margin-right: auto;
    
}
.collapse{
    justify-content: center;
    text-shadow: 2px 2px 4px $color-principal;
    font-size: large;
    font-weight: bolder;
}
.nav-item{
    padding: 1em;
}

.logo img{
    width: 80px;
    height: 80px;
}
 